button {
  cursor: pointer;
}

.btn-primary {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
}

.btn-outlined {
  border: 1px solid #000;
  background-color: #0000;
  color: #000;
  font-size: 16px;
  padding: 8px;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.hbtn-primary:hover {
  background-color: #000!important;
  color: #fff!important;
  transition: all 0.1s ease;
}

.hbtn-secondary:hover {
  background-color: #00f1!important;
  transition: all 0.1s ease;
}